/* About Us Area Style
============================================*/
.exchange-experience {
    background-color: $primary;
    border-radius: 16px;
    padding: 42px 30px;
    max-width: 312px;

    .top-content {
        text-align: center;
        border-bottom: 1px dashed $white;
        padding-bottom: 35px;
        margin-bottom: 40px;
        h3 {
            color: $secondary;
            font-size: 48px;
            font-weight: 600;
            margin-bottom: 0;
            line-height: 1;
        }
        span {
            color: $secondary;
        }
    }
    .bottom-content {
        .user-img {
            margin-bottom: 23px;

            img {
                border: 2px solid $white;
                width: 52px;
            }
            .img {
                margin: 0 -8px;
            }
        }
        p {
            color: $secondary;
            font-size: 20px;
            font-weight: 600;
            line-height: 150%;
        }
    }
}
.exchange-content {
    p {
        color: $secondary;
        font-size: 20px;
        font-weight: 600;
        line-height: 140%;
        margin-bottom: 43px;
        max-width: 648px;
    }
    .info-wrap {
        margin-top: 50px;
    }
    .info {
        gap: 24px;

        .border-bottom {
            border-bottom: 1px dashed rgba(170, 170, 170, 0.5) !important;
            margin-bottom: 25px;
            padding-bottom: 25px;
        }
        i {
            width: 50px;
            height: 50px;
            text-align: center;
            border-radius: 100px;
            display: inline-block;
            background-color: #F7F7F7;
            color: $primary;
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 24px;
        }
        span {
            font-size: 16px;
            font-weight: 400;
        }
        a {
            color: $secondary;
            font-size: 16px;
            font-weight: 700;

            &:hover {
                color: 
                $primary;
            }
        }
    }
}
.about-content-three {
    p {
        color: $secondary;
        font-size: 24px;
        font-weight: 400;
        line-height: 140%;
        max-width: 648px;
    }
}
.about-content-info-three {
   background: linear-gradient(180deg, #C4DE00 0%, #93AD00 100%); 
   padding: 50px;

    h3 {
        color: $secondary;
        font-size: 24px;
        font-weight: 600;
        line-height: 150%;
        margin-bottom: 15px;
    }
    p {
        color: $secondary;
    }
    .about-btn {
        width: 130px;
        height: 130px;
        background-color: $secondary;
        color: $white;
        display: inline-block;
        text-align: center;
        text-decoration: none;
        padding: 42px 15px;
        border-radius: 200px;
        margin-top: 10px;

        &:hover {
            background-color: $primary;
            color: $secondary;
        }
    }
}
.counter-single-item-three {
    text-align: center;

    h2 {
        font-size: 96px;
        line-height: 110%;
        margin-bottom: 0;
    }
    p {
        color: #303030;
        font-size: 24px;
        font-weight: 600;
        line-height: 150%;
        margin-bottom: 0;
    }
}


/* Max width 767px */
@media only screen and (max-width: 767px) {
    .exchange-experience {
        padding: 20px;

        .top-content {
            padding-bottom: 25px;
            margin-bottom: 25px;
        }
        .bottom-content {
             p {
                font-size: 16px;
            }
        }
    }
    .exchange-content {
        p {
            font-size: 18px;
            margin-bottom: 15px;
        }
        .info-wrap {
            margin-top: 20px;
        }
    }
    .about-content-three {
        p {
            font-size: 15px;
        }
    }
    .about-content-info-three {
        padding: 20px;

        h3 {
            font-size: 20px;
        }
    }
    .counter-single-item-three {
        h2 {
            font-size: 45px;
        }
        p {
            font-size: 16px;
        }
    }
}

/* Min width 768px to Max width 992px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .exchange-experience {
        max-width: 100%;
    }
    .exchange-content {
        p {
            max-width: 100%;
            margin-bottom: 20px;
        }
    }
    .about-content-three {
        p {
            font-size: 18px;
        }
    }
    .about-content-info-three {
        padding: 30px;

        h3 {
            font-size: 22px;
        }
    }
    .counter-single-item-three {
        h2 {
            font-size: 55px;
        }
        p {
            font-size: 16px;
        }
    }
}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px)  {
    .counter-single-item-three {
        h2 {
            font-size: 55px;
        }
        p {
            font-size: 16px;
        }
    }
}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

}

/* Min width 1400px to Max width 1799px */
@media only screen and (min-width: 1400px) and (max-width: 1799px) {

}

@media only screen and (max-width: 1199px) {

}

@media (min-width: 992px) {
    .about-img-three {
        margin-bottom: -200px !important;
    }
}
@media (min-width: 1399px) {
    .exchange-experience {
        margin-left: 156px;
    }
    .exchange-content {
        margin-left: 55px;

        .info-wrap {
            margin-left: 40px;
        }
    }
    .ms-155 {
        padding-left: 155px;
    }
}

/* RTL Area Style
============================================*/
.rtl {
   
    @media (min-width: 1399px) {
        .exchange-experience {
            margin-left: 0;
            margin-right: 156px;
        }
        .exchange-content {
            margin-left: 0;
            margin-right: 55px;

            .info-wrap {
                margin-left: 0;
                margin-right: 40px;
            }
        }
    }
    
}

/* Dark Mode Area Style
============================================ */
.expa-dark {
    .exchange-content {
        p {
            color: $white;
        }
        .info {
            i {
                background-color: $dark-border-color;
            }
            a {
                color: $white;
            }
        }
    }
    .about-content-three {
        p {
            color: $white;
        }
    }
    .counter-single-item-three {
        p {
            color: $dark-paragraph-color;
        }
    }
    
}