/*
backtoptop Area Style
======================================================*/
.back-to-top {
	position: fixed;
	top: 100%;
	right: 30px;
	bottom: 30px;
	margin: auto;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border: none;
	background-color: $primary;
	color: $black;
	transform: translateY(-100%);
	z-index: 999;
	transition: $transition; 
	font-size: 20px;
	border-radius: 5px;

	&:hover {
		background-color: $primary;
	}
}