/* Blog Area Style
============================================*/
.blog-single-item {
    background-color: #F7F7F7;
    padding: 30px;
    border-radius: 15px;
    position: relative;

    .date {
        width: 65px;
        height: 65px;
        color: $secondary;
        line-height: 1;
        background-color: #F7F7F7;
        display: inline-block;
        text-align: center;
        border-radius: 100px;
        padding: 12px 0;
        position: absolute;
        top: 0;
        left: 0;
        span {
            font-size: 24px;
            font-weight: 600;
            display: block;
            line-height: 1;
        }
        
    }
    .author {
        display: block;
        margin-bottom: 50px;
        margin-left: 80px;
    }
    h3 {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 17px;

        a {
            text-decoration: none;
            color: $secondary;
        }
    }
    .btn-wrap {
        margin-top: 30px;
        padding-top: 30px;
        border-top: 1px dashed #E3E3E3;
    }
    .shape {
        position: absolute;
        top: 0;
        left: 0;
    }
    &:hover {
        h3 {
            a {
                color: $primary;
            }
        }
    }
}
.blog-details-content {
    margin-top: 25px;

    h4 {
        color: #303030;
        font-size: 24px;
        font-weight: 600;
        margin-top: 40px;
        margin-bottom: 15px;

        &:first-child {
            margin-top: 0;
        }
    }
    h5 {
        color: #303030;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 10px;
        margin-top: 25px;

        &:first-child {
            margin-top: 0;
        }
    }
    ul {
        li {
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .case-study-info {
        border-radius: 16px;
        background: #F7F7F7;
        padding: 30px;
        margin-top: 40px;
    }
    .counter-item {
        h2 {
            font-size: 48px;
            line-height: 150%;
            margin-bottom: 0;
        }
    }
    .tag-share {
        padding: 10px 0;
        border-top: 1px solid #D4D4D4;
        border-bottom: 1px solid #D4D4D4;
        
        .share {
            a {
                display: inline-block;
                width: 30px;
                height: 30px;
                line-height: 30px;
                background-color: #F7F7F7;
                border-radius: 100px;
                color: #818181;
                text-align: center;
                text-decoration: none;

                &:hover {
                    background-color: $primary;
                    color: $secondary;
                }
            }
        }
    }
}

.blog-sidebar-widget {
    border-radius: 16px;
    background: #F7F7F7;
    padding: 30px;
    margin-bottom: 30px;

    &:last-child {
        margin-bottom: 0;
    }

    h3 {
        font-size: 20px;
        font-weight: 600;
        padding-bottom: 10px;
        margin-bottom: 20px;
        border-bottom: 1px solid #E3E3E3;
    }
    .search-form {
        .form-control {
            background-color: $white;
            border: 1px solid #E0E0E0;
            border-radius: 5px;
            padding: 10px 15px;
            font-size: 14px;
            color: #666;

            &::placeholder {
                color: #999;
            }
            &:focus {
                box-shadow: none;
                border-color: $primary;
            }
        }
    
    }
    .category-list {
        li {
            position: relative;
            z-index: 1;
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }   
        }
    }
    .recent-posts-item {
       margin-bottom: 20px;
        gap: 20px;

        .title {
            display: block;
            font-size: 16px;
            margin-bottom: 5px;
            transition: $transition;
            font-weight: 600;
        }
        img {
            border-radius: 5px;
        }
        &:last-child {
            margin-bottom: 0;
        }
        &:hover {
            .title {
                color: $primary;
            }
        }
    }
    .tags-list {
        a {
            color: #818181;
            font-size: 14px;
            font-weight: 400;
            line-height: 194.286%;
            border-radius: 3px;
            background: $white;
            text-decoration: none;
            padding: 6px 15px;

            &:hover {
                background-color: $primary;
                color: $secondary;
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {
    .blog-single-item {
        padding: 20px;
        .author {
            margin-bottom: 30px;
        }
        h3 {
            font-size: 20px;
        }
        
        .btn-wrap {
            margin-top: 20px;
            padding-top: 20px;
        }
    }
    .blog-details-content {
        h4 {
            font-size: 22px;
            margin-top: 30px;
        }
        h5 {
            font-size: 18px;
        }
        .counter-item {
            h2 {
                font-size: 30px;
            }
        }
        .case-study-info {
            padding: 20px;
        }
    }
    .blog-sidebar-widget {
        padding: 25px;
    }
}

/* Min width 768px to Max width 992px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .blog-single-item {
        padding: 25px;
        .author {
            margin-bottom: 30px;
        }
        h3 {
            font-size: 20px;
        }
        
        .btn-wrap {
            margin-top: 25x;
            padding-top: 25px;
        }
    }
}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px)  {
    .blog-single-item {
        padding: 20px;
        .author {
            margin-bottom: 30px;
        }
        h3 {
            font-size: 20px;
        }
        
        .btn-wrap {
            margin-top: 20px;
            padding-top: 20px;
        }
    }
    .blog-details-content {
        h4 {
            font-size: 22px;
            margin-top: 30px;
        }
        h5 {
            font-size: 18px;
        }
        .counter-item {
            h2 {
                font-size: 30px;
            }
        }
        .case-study-info {
            padding: 20px;
        }
    }
}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

}

/* Min width 1400px to Max width 1799px */
@media only screen and (min-width: 1400px) and (max-width: 1799px) {

}

@media only screen and (max-width: 1199px) {

}

@media (min-width: 1399px) {
    .mw-760-for-blog {
        max-width: 760px;
    }
}

/* RTL Area Style
============================================*/
.rtl {
   
    .blog-single-item {
        .shape {
            transform: scaleX(-1);
            left: auto;
            right: 0;
        }
        .date {
            left: auto;
            right: 0;
        }
        .author {
            margin-left: 0;
            margin-right: 80px;
        }
    }
    
}

/* Dark Mode Area Style
============================================ */
.expa-dark {
    .blog-single-item {
        background-color: $dark-card-bg;

        .shape {
            filter: brightness(0);
        }
        .date {
            background-color: $dark-card-bg;
            color: $white !important;
        }
        .btn-wrap {
            border-color: $dark-border-color;
        }
        h3 {
            a {
                color: $white;
            }
        }
    }
    .blog-details-content {
        h4 {
            color: $white;
        }
        h5 {
            color: $white;
        }
        .case-study-info {
            background-color: $dark-card-bg;
        }
        .tag-share {
            border-color: $dark-border-color;
        }
        .tag-share {
            .share {
                a {
                    background-color: $dark-border-color;

                    &:hover {
                        background-color: $primary;
                        color: $white;
                    }
                }
            }
        }
    }
    .blog-sidebar-widget {
        background-color: $dark-card-bg;

        h3 {
            border-color: $dark-border-color;
        }
        .collapse-btn i {
            color: $white;
        }
        .form-check-input {
            background-color: transparent;
            border-color: $dark-border-color !important;
        }
        .rang-slide {
            .count {
                background-color: $dark-body-bg;
                border-color: $dark-border-color;
            }
            .usd {
                color: $white;
            }
        }
        .tags-list a {
            background-color: $dark-body-bg;

            &:hover {
                background-color: $primary;
            }
        }
    }
}