/* How People Area Style
============================================*/
.how-people-use-single-item {
    gap: 63px;
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #EEE;
    .sl {
        width: 50px;
    }
    h3 {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 0;
        width: 275px;
    }
    .gap-77 {
        gap: 77px;
    }
    &:first-child {
        padding-top: 25px;
        border-top: 1px solid #EEE;
    }
    &:last-child {
        margin-bottom: 0;
    }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {
    .how-people-use-single-item {
        h3 {
            font-size: 20px;
            margin: 10px 0;
        }
    }
}

/* Min width 768px to Max width 992px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .how-people-use-single-item {
        h3 {
            font-size: 20px;
            margin: 10px 0;
        }
    }
}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px)  {

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

}

/* Min width 1400px to Max width 1799px */
@media only screen and (min-width: 1400px) and (max-width: 1799px) {

}

@media only screen and (max-width: 1199px) {

}

@media (min-width: 1399px) {

}

/* RTL Area Style
============================================*/
.rtl {
   
    
    
}

/* Dark Mode Area Style
============================================ */
.expa-dark {
    .how-people-use-single-item {
        border-color: $dark-border-color;
    }
}