/* My ACcount Area Style
============================================*/
.my-account-form {
    background-color: #F7F7F7;
    padding: 50px;
    border-radius: 16px;
    max-width: 648px;
    margin: auto;

    .currency-input {
        margin-bottom: 10px;

        .form-control {
            background-color: $white;
            border-color: $white;

            &.form-select {
                padding-top: 28px;
            }
        }
    }
    h3 {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 10px;
    }
    .login {
        position: relative;
        text-align: center;
        z-index: 1;

        span {
            background-color: #F7F7F7;
            padding: 0 25px;
        }
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            width: 100%;
            height: 1px;
            transform: translateY(-50%);
            background-color: #D4D4D4;
            z-index: -1;
        }
    }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {
    .my-account-form  {
        padding: 25px;
    }
}

/* Min width 768px to Max width 992px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px)  {

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

}

/* Min width 1400px to Max width 1799px */
@media only screen and (min-width: 1400px) and (max-width: 1799px) {

}

@media only screen and (max-width: 1199px) {

}

@media (min-width: 1399px) {

}

/* RTL Area Style
============================================*/
.rtl {
   
    
    
}

/* Dark Mode Area Style
============================================ */
.expa-dark {
    .my-account-form {
        background-color: $dark-card-bg;

        .currency-input {
            .form-control {
                background-color: $dark-border-color !important;
                border-color: $dark-border-color !important;
                color: $white;

                &::placeholder {
                    color: $white;
                }
            }
            .label {
                color: $white;
            }
        }
        .login {
            span {
                background-color: $dark-card-bg;
            }
        }
        
        .btn {
            &.btn-secondary {
                background-color: $white;
                color: $secondary;
            }
        }
    }
}