/* Personal International Area Style
============================================*/
.personal-international-content {
    max-width: 650px;

    .mt-40 {
        margin-top: 40px;
    }
}
.international-item {
    text-align: center;
    h2 {
        font-size: 48px;
        font-weight: 600;
        margin-bottom: 0;
    }
}
.personal-international {
    img {
        border-radius: 16px;
    }
}


/* Max width 767px */
@media only screen and (max-width: 767px) {
    .international-item {
        h2 {
            font-size: 24px;
        }
    }
    .personal-international-content {
        .mt-40 {
            margin-top: 20px;
        }
    }
}

/* Min width 768px to Max width 992px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .international-item {
        h2 {
            font-size: 30px;
        }
    }
    .personal-international-content {
        .mt-40 {
            margin-top: 30px;
        }
    }
    
}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px)  {
    .international-item {
        h2 {
            font-size: 40px;
        }
    }
}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

}

/* Min width 1400px to Max width 1799px */
@media only screen and (min-width: 1400px) and (max-width: 1799px) {

}

@media only screen and (max-width: 1199px) {

}

@media (min-width: 1399px) {
    .personal-international {
        margin-right: -150px;
    }
}

/* RTL Area Style
============================================*/
.rtl {
   
    @media (min-width: 1399px) {
        .personal-international {
            margin-right: 0;
            margin-left: -150px;
        }
    }
    
}

/* Dark Mode Area Style
============================================ */
.expa-dark {

}