/* Choose Your Plan Area Style
============================================*/
.choose-your-plan-single-item {
    margin-bottom: 50px;
    &:last-child {
        margin-bottom: 0;
    }
    h3 {
        color: $white;
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 8px;
    }
    p {
        color: #aaaaaa;
        max-width: 260px;
        margin-bottom: 22px;
    }
    h2 {
        color: $primary;
        font-size: 40px;
        font-weight: 600;

        sub {
            color: #aaaaaa;
            font-weight: 400;
            font-size: 16px;
            bottom: 2px;
        }
    }
    ul {
        li {
            margin-bottom: 9px;
            color: #aaaaaa;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .choose-your-plan-content {
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        padding: 24px 0;
    }
    .btn {
        &:hover {
            background-color: $primary !important;
            color: $secondary !important;
        }
    }
    .choose-your-plan-img {
        img {
            border-radius: 16px;
        }
    }
}
.pricing-area {
    background-color: #F7F7F7;
}
.pricing-single-item {
    background-color: $white;
    padding: 30px;
    height: 100%;

    h4 {
        font-size: 24px;
        font-weight: 600;
        line-height: 150%;
    }
    h2 {
        font-size: 40px;
        font-weight: 600;
        line-height: 150%;
        margin-bottom: 0;

        sub {
            font-size: 16px;
            font-weight: 400;
            color: $body-color;
            bottom: 0;
        }
    }
    .pricing-list {
        border-top: 1px solid #EEE;
        padding-top: 20px;
        margin-top: 20px;
        margin-bottom: 40px;

        li {
            margin-bottom: 10px;
            i {
                color: $secondary;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &.active {
        h4 {
            color: $white;
        }
        h2 {
            color: $white;

            sub {
                color: #aaaaaa;
            }
        }
        p {
            color: #aaaaaa;
        }
        span {
            color: #aaaaaa;
        }
        .pricing-list {
            border-color: rgba(238, 238, 238, 0.2);
            li {
                i {
                    color: $white;
                }
            }
        }
        .btn {
            background-color: $white;
            color: $secondary;
        }
    }
}
.pricing-switch {
    margin-top: -70px;
    .form-check {
         background-color: #C4DE00;
         border-radius: 50px;
         padding: 0 5px !important;

        .form-check-input {
            background-color: #C4DE00;
            --bs-form-switch-bg: url(/images/dot.png) !important;
            background-size: 16px 16px !important;
            margin-left: 0;
            border: 0;
            width: 48px;
            height: 24px;
            cursor: pointer;

            &:focus {
                box-shadow: none;
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

    .choose-your-plan-single-item {
        h3 {
            font-size: 20px;
        }
        h2 {
            font-size: 30px;
        }
        ul {
            li {
                font-size: 14px;
            }
        }
    }
    .pricing-single-item {
        padding: 20px;

        .pricing-list {
            margin-bottom: 25px;
        }
        h4 {
            font-size: 20px;
        }
    }
    .pricing-switch  {
        margin-top: 0;
    }

}

/* Min width 768px to Max width 992px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .pricing-switch  {
        margin-top: 0;
    }
}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px)  {
    .choose-your-plan-single-item {
        h2 {
            font-size: 30px;
        }
        ul {
            li {
                font-size: 14px;
            }
        }
    }
}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

}

/* Min width 1400px to Max width 1799px */
@media only screen and (min-width: 1400px) and (max-width: 1799px) {

}

@media only screen and (max-width: 1199px) {

}

@media (min-width: 1399px) {

}

/* RTL Area Style
============================================*/
.rtl {
   
    
    
}

/* Dark Mode Area Style
============================================ */
.expa-dark {
    .pricing-area {
        background-color: $dark-card-bg;
    }
    .pricing-single-item {
        background-color: $dark-border-color;

        .pricing-list {
            border-color: $dark-card-bg;
            li {
                i {
                    color: $white;
                }
            }
        }
    }
}