/* Security Area Style
============================================*/
.security-wrap {
    padding: 105px 150px;
}
.security-info-wrap {
    background-color: #092600;
    border-radius: 16px;
    padding: 50px;

    h3 {
        color: $primary;
        margin-bottom: 14px;
        font-weight: 600;
        font-size: 24px;
    }
    p {
        max-width: 375px;
        margin-left: 62px;
        color: #C3CBCA;
        margin-bottom: 55px;
    }
    .secure-list {
        li {
            margin-bottom: 10px;
            
            &:last-child {
                margin-bottom: 0;
            }
            i {
                color: $primary;
                font-size: 18px;
                line-height: 1;
            }
            span {
                color: $white;
                font-weight: 500;
            }
        }
    }
}
.security-list {
    li {
        gap: 37px;
        margin-bottom: 50px;

        &:last-child {
            margin-bottom: 0;
        }
        .icon {
            width: 75px;
            height: 75px;
            background-color: #092600;
            border-radius: 100px;
        }
        h3 {
            color: $white;
            margin-bottom: 14px;
            font-weight: 600;
        }
        p {
            color: #C3CBCA;
        }
    }
}
.security-shape {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
}


/* Max width 767px */
@media only screen and (max-width: 767px) {
    .security-wrap {
        padding: 60px 25px;
    }
    .security-info-wrap {
        padding: 20px;
        h3 {
            font-size: 20px;
        }

        p {
            margin-left: 0;
            margin-bottom: 20px;
        }
    }
    .security-list {
        li {
            gap: 20px;
            margin-bottom: 20px;

            h3 {
                font-size: 20px;
            }
        }
    }
}

/* Min width 768px to Max width 992px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .security-wrap {
        padding: 70px 50px;
    }
    .security-info-wrap {
        padding: 25px;
        h3 {
            font-size: 20px;
        }

        p {
            margin-left: 0;
            margin-bottom: 20px;
        }
    }
    .security-list {
        li {
            gap: 20px;
            margin-bottom: 25px;

            h3 {
                font-size: 20px;
            }
        }
    }
}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px)  {
    .security-wrap {
        padding: 70px 50px;
    }
}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

}

/* Min width 1400px to Max width 1799px */
@media only screen and (min-width: 1400px) and (max-width: 1799px) {

}

@media only screen and (max-width: 1199px) {

}

@media (min-width: 1399px) {

    .security-info-wrap {
        max-width: 535px;
    }

}

/* RTL Area Style
============================================*/
.rtl {
   
    
    
}

/* Dark Mode Area Style
============================================ */
.expa-dark {

}