/* Sending Money Area Style
============================================*/
.sending-money-single-item {
    background-color: #F7F7F7;
    padding: 50px;
    border-radius: 16px;
    position: relative;
    z-index: 1;
    transition: $transition;

    h3 {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 14px;
    }
    p {
        margin-bottom: 23px;
    }
    ul {
        li {
            margin-bottom: 5px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .btn {
        width: 65px;
        height: 65px;
        line-height: 57px;
        text-align: center;
        display: inline-block;
        background-color: $secondary;
        padding: 0;
        border-color: $secondary;
        color: $white;
        font-size: 35px;
        font-weight: 400;
        position: absolute;
        bottom: 0;
        right: 0;
    }
    .shape {
        position: absolute;
        bottom: 0;
        right: 0;
        transform: scaleY(-1) scaleX(-1);
    }
    &.style-two {
        .btn {
            bottom: auto;
            top: 0;
        }
        .shape {
            bottom: auto;
            top: 0;
            transform: scaleY(1) scaleX(-1);
        }
    }
    &:hover {
        transform: translateY(-5px);
    }
}
.sending-money-worldwide-single-item {
    text-align: center;
    h2 {
        color: $white;
        font-size: 48px;
        font-weight: 600;
        margin-bottom: 0;
    }
    span {
        color: #aaaaaa;
    }
}
.sending-money-worldwide-content {
    max-width: 648px;
    p {
        max-width: 550px;
        margin: auto;
        color: #aaaaaa;
    }
    .mt-85 {
        margin-top: 58px;
    }
    &.p-100 {
        padding: 100px;
        padding-bottom: 0;
        max-width: 840px;
    }
    .contact-btn {
        width: 130px;
        height: 130px;
        display: inline-block;
        color: $white;
        background-color: $secondary;
        text-decoration: none;
        padding: 41px 10px;
        border-radius: 100px;
        position: absolute;
        bottom: 85px ;
        right: 0;

        &:hover {
            background-color: $primary;
        }
    }
}
.worldwide-img {
    position: absolute;
    top: -45px;
    right: 80px;
}
.sending-money-worldwide-area {
    &.style-two {
        position: relative;
        z-index: 1;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 50%;
            background-color: $white;
            z-index: -1;
        }
    }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {
    .sending-money-single-item {
        padding: 20px;

        h3 {
            font-size: 19px;
        }
        p {
            font-size: 15px;
        }
        ul {
            li {
                font-size: 15px;
            }
        }
    }
    .sending-money-worldwide-single-item {
        h2 {
            font-size: 30px;
        }
        span {
            font-size: 12px;
        }
    }
    
    .sending-money-worldwide-content {
        &.p-100 {
            padding: 25px;
        }
    }
}

/* Min width 768px to Max width 992px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .sending-money-single-item  {
        padding: 25px;

        h3 {
            font-size: 22px;
        }
    }
}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px)  {
    .sending-money-single-item {
        padding: 20px;

        h3 {
            font-size: 19px;
        }
        p {
            font-size: 15px;
        }
        ul {
            li {
                font-size: 15px;
            }
        }
    }
    
}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

}

/* Min width 1400px to Max width 1799px */
@media only screen and (min-width: 1400px) and (max-width: 1799px) {

}

@media only screen and (max-width: 1199px) {

}

@media (min-width: 1399px) {

}

/* RTL Area Style
============================================*/
.rtl {
   
    .sending-money-single-item {
        .btn {
            right: auto;
            left: 0;
        }
        .shape {
            right: auto;
            left: 0;
            transform: scaleX(1) scaleY(-1);
        }
        &.style-two {
            .btn {
                right: auto;
                left: 0;
            }
            .shape {
                right: auto;
                left: 0;
                transform: scaleX(1) scaleY(1);
            }
        }
    }
    
}

/* Dark Mode Area Style
============================================ */
.expa-dark {
    .sending-money-single-item  {
        background-color: $dark-card-bg;
        .shape {
            filter: brightness(000);
        }
    }
}