/* Solutions Area Style
============================================*/
.solutions-content {
    h3 {
        font-size: 24px;
        font-weight: 600;
        line-height: 150%;
        margin-bottom: 14px;
    }
    .icon {
        width: 50px;
        height: 50px;
        text-align: center;
        background-color: #C4DE00;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;

        &.bg-f7f7f7 {
            background-color: #f7f7f7;
        }
    }
    h4 {
        font-weight: 600;
        font-size: 16px;
        margin-bottom: 0;
    }
    .solutions-list {
        margin-bottom: 35px;
        margin-top: 23px;
        li {
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    p {
        font-size: 20px;
    }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {
    .solutions-content {
        h3 {
            font-size: 20px;
        }
        p {
            font-size: 15px;
        }
    }
}

/* Min width 768px to Max width 992px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .solutions-content {
        h3 {
            font-size: 22px;
        }
        p {
            font-size: 16px;
        }
    }
}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px)  {
    .solutions-content {
        h3 {
            font-size: 20px;
        }
        p {
            font-size: 15px;
        }
    }
}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

}

/* Min width 1400px to Max width 1799px */
@media only screen and (min-width: 1400px) and (max-width: 1799px) {

}

@media only screen and (max-width: 1199px) {

}

@media (min-width: 1399px) {
    .solutions-img {
        margin-left: -160px;
    }
    .solutions-content {
        max-width: 620px;
        margin-left: auto;
    }
    .solutions-content-inner {
        margin-left: 80px;
    }
}

/* RTL Area Style
============================================*/
.rtl {
   
    @media (min-width: 1399px) {
        .solutions-img {
            margin-left: 0;
            margin-right: -160px;
        }
        .solutions-content {
            margin-left: 0;
            margin-right: auto;
        }
        .solutions-content-inner {
            margin-left: 0;
            margin-right: 80px;
        }
    }
    
}

/* Dark Mode Area Style
============================================ */
.expa-dark {
    .line {
        filter: brightness(0.3);
    }
    .solutions-content .icon.bg-f7f7f7 {
        background-color: $dark-card-bg;
    }
}