/* Team Area Style
============================================*/
.team-single-item {
    transition: $transition;

    .team-img {
        position: relative;
    }
    img {
        border-radius: 16px;
    }
    .team-content {
        padding: 25px 30px;
        h3 {
            font-size: 18px;
            margin-bottom: 4px;
        }
    }
    &:hover {
        transform: translateY(-5px);

        .linkedin {
            opacity: 1;
        }
    }
    .linkedin {
        position: absolute;
        top: 0;
        right: 0;
        margin: 15px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        display: inline-block;
        background-color: $primary;
        text-decoration: none;
        color: $secondary;
        border-radius: 5px;
        opacity: 0;
        transition: $transition;
    }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

}

/* Min width 768px to Max width 992px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px)  {

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

}

/* Min width 1400px to Max width 1799px */
@media only screen and (min-width: 1400px) and (max-width: 1799px) {

}

@media only screen and (max-width: 1199px) {

}

@media (min-width: 1399px) {

}

/* RTL Area Style
============================================*/
.rtl {
   
    
    
}

/* Dark Mode Area Style
============================================ */
.expa-dark {

}