/* Who We Area Style
============================================*/
.who-we3 {
    margin-left: -120px;
}
.who-we-are-content {
    color: #aaaaaa;
    margin-left: auto;

    .btn {
        margin: 45px 0;
    }
    h3 {
        color: $white;
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 20px;
    }
    ul {
        li {
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
.who-we-are-shape {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}



/* Max width 767px */
@media only screen and (max-width: 767px) {
    .who-we-are-content {
        .btn {
            margin: 30px 0;
        }
    }
}

/* Min width 768px to Max width 992px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px)  {

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

}

/* Min width 1400px to Max width 1799px */
@media only screen and (min-width: 1400px) and (max-width: 1799px) {

}

@media only screen and (max-width: 1199px) {

}

@media (min-width: 1399px) {
    .who-we-are-content {
        max-width: 536px;
    }
}

/* RTL Area Style
============================================*/
.rtl {
   
    .who-we3 {
        margin-left: 0;
        margin-right: -120px;
    }
    .who-we2 {
        transform: scaleX(-1);
    }
    .who-we-are-content {
        margin-left: 0;
        margin-right: auto;
    }
    .who-we-are-shape  {
        right: auto;
        left: 0;
        transform: scaleX(-1);
    }
    
}

/* Dark Mode Area Style
============================================ */
.expa-dark {

}