/* Blank Area Style
============================================*/
.why-choose-business-img {
    position: relative;
    z-index: 1;

    .operation {
        background-color: #1F1F1F;
        border-radius: 16px;
        padding: 30px;
        position: absolute;
        bottom: 30px;
        text-align: center;
        h2 {
            font-size: 96px;
            color: $white;
            margin-bottom: 0;
        }
        h3 {
            color: $white;
            font-size: 24px;
            font-weight: 600;
            margin-bottom: 5px;
        }
        span {
            color: #aaaaaa;
        }
    }
}
.why-choose-business-content {
    .why-choose-business-content-inner {
        ul {
            li {
                margin-bottom: 10px;
                i {
                    color: $secondary;
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {
    .why-choose-business-img {
        .operation {
            margin: 30px;
            bottom: 0;
            h2 {
                font-size: 40px;
            }
            h3 {
                font-size: 18px;
            }
        }
    }
}

/* Min width 768px to Max width 992px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .why-choose-business-img {
        .operation {
            margin: 30px;
            bottom: 0;
            h2 {
                font-size: 50px;
            }
            h3 {
                font-size: 20px;
            }
        }
    }
    
}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px)  {
    .why-choose-business-img {
        .operation {
            margin: 30px;
            bottom: 0;
            h2 {
                font-size: 40px;
            }
            h3 {
                font-size: 18px;
            }
        }
    }
}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

}

/* Min width 1400px to Max width 1799px */
@media only screen and (min-width: 1400px) and (max-width: 1799px) {

}

@media only screen and (max-width: 1199px) {

}

@media (min-width: 1399px) {
    .why-choose-business-content {
        max-width: 500px;
        margin-left: auto;

        .why-choose-business-content-inner {
            margin-left: 110px;
        }
    }
    .why-choose-business-img {
        .operation {
            right: -130px;
        }
    }
}

/* RTL Area Style
============================================*/
.rtl {
   
    @media (min-width: 1399px) {
        .why-choose-business-content {
            max-width: 500px;
            margin-left: 0;
            margin-right: auto;

            .why-choose-business-content-inner {
                margin-left: 0;
                margin-right: 110px;
            }
        }
        .why-choose-business-img {
            .operation {
                right: auto;
                left: -130px;
            }
        }
    }
    
        
}

/* Dark Mode Area Style
============================================ */
.expa-dark {
    .why-choose-business-content {
        .why-choose-business-content-inner {
            ul li i {
                color: $primary;
            }
        }
    }
}