// Color
$body-color: #818181;  
$primary: #9BED68;  
$secondary: #1F1F1F; 
$dark: #000000;
$border-color: rgba(86, 86, 86, 0.2);
$gray: #F0F4F8;
$any-bg: #133000;
$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
$transition: all ease 0.5s;
$border-radius-5: 5px; 

// Tooltip
$tooltip-opacity: 1;
$tooltip-max-width: 295px;

// For Dark Mode
$dark-body-bg: #000000; /* Dark background */
$dark-card-bg: #1e1e1e; /* Slightly lighter for cards */
$dark-text-color: #e0e0e0; /* Light text color */
$dark-heading-color: #ffffff; /* White for headings */
$dark-paragraph-color: #b0b0b0; /* Slightly dimmed for paragraphs */
$dark-border-color: #333333; /* Border color for cards */

// Font Size
$font-size-root: null;
$font-size-base: 1rem; // Assumes the browser default, typically `16px`
$font-size-sm: $font-size-base * .875;
$font-size-lg: $font-size-base * 1.25;

$h1-font-size: $font-size-base * 2.5; // Updated 43.2px
$h2-font-size: $font-size-base * 2.4; // Updated 36.8px
$h3-font-size: $font-size-base * 1.4; // Updated 28.8px
$h4-font-size: $font-size-base * 1.2; // Updated 22.4px
$h5-font-size: $font-size-base * 1.1; // Updated 17.6px
$h6-font-size: $font-size-base; // Updated 16px